<strong>Recuperação de senha</strong>

<p>A password recovery request has been made for the email ({{ email }})</p>
<p>To continue, use the token {{ token }} or click on the link below</p>

<a href="{{ link }}">Create a new password</a>
